mc-button {
    --non-repeating: url("../../../assets/button/bland.png");
    --vertically-repeating: url("../../../assets/button/bland_vertical.png");
    --horizontally-repeating: url("../../../assets/button/bland_horizontal.png");

    display: block;
}

mc-button {
    width: calc(160px * var(--pixel-size));
    max-width: calc(160px * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(160px * var(--pixel-size));

    border: none;
    padding: 0px;
}
mc-button > button {
    width: 100%;
    height: 100%;

    border: none;
    padding: 0px;
    
    display: flex;
    justify-content: center;
}
mc-button > button > span.nine-grid {
    width: 100%;
    height: 100%;
}

mc-button > button > span.text {
    font-size: calc(8px * var(--pixel-size));
    font-family: "mc-seven";
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    transform: translateY(calc(7px * var(--pixel-size)));
}
mc-button > button:active > span.text {
    transform: translateY(calc(9px * var(--pixel-size)));
}
mc-button[disabled|="true"] > button:active[disabled|="true"] > span.text {
    transform: translateY(calc(7px * var(--pixel-size)));
}
mc-button[color|="green"] > button > span.text {
    font-size: calc(12px * var(--pixel-size));
    font-family: "mc-ten";
    transform: translateY(calc(3px * var(--pixel-size)));
}
mc-button[color|="green"] > button:active > span.text {
    font-size: calc(12px * var(--pixel-size));
    font-family: "mc-ten";
    transform: translateY(calc(5px * var(--pixel-size)));
}
mc-button[color|="green"][disabled|="true"] > button:active[disabled|="true"] > span.text {
    transform: translateY(calc(3px * var(--pixel-size)));
}

mc-button[color|="green"] > button > span.text,
mc-button[color|="purple"] > button > span.text,
mc-button[color|="red"] > button > span.text,
mc-button[color|="dark"] > button > span.text {
    color: white;
}

mc-button[disabled|="true"] > button[disabled|="true"] > span.text {
    color: #48494A;
}

mc-button > button:hover > span.nine-grid {
    --non-repeating-y-offset: 8px;
    --background-y: 28px;

    --vertical-x-offset: 8px;
    --horizontal-y-offset: 8px;
}
mc-button > button:active > span.nine-grid {
    --non-repeating-y-offset: 16px;
    --background-y: 32px;

    --vertical-x-offset: 16px;
    --horizontal-y-offset: 16px;
}
mc-button[color|="green"] {
    --non-repeating: url("../../../assets/button/green.png");
    --vertically-repeating: url("../../../assets/button/green_vertical.png");
    --horizontally-repeating: url("../../../assets/button/green_horizontal.png");
}
mc-button[color|="red"] {
    --non-repeating: url("../../../assets/button/red.png");
    --vertically-repeating: url("../../../assets/button/red_vertical.png");
    --horizontally-repeating: url("../../../assets/button/red_horizontal.png");
}
mc-button[color|="purple"] {
    --non-repeating: url("../../../assets/button/purple.png");
    --vertically-repeating: url("../../../assets/button/purple_vertical.png");
    --horizontally-repeating: url("../../../assets/button/purple_horizontal.png");
}
mc-button[color|="dark"] {
    --non-repeating: url("../../../assets/button/dark.png");
    --vertically-repeating: url("../../../assets/button/dark_vertical.png");
    --horizontally-repeating: url("../../../assets/button/dark_horizontal.png");
}
mc-button > *[disabled|="true"] {
    --non-repeating: url("../../../assets/button/disabled.png");
    --vertically-repeating: url("../../../assets/button/disabled_vertical.png");
    --horizontally-repeating: url("../../../assets/button/disabled_horizontal.png");
    
    --background-y: 8px;
}
mc-button[disabled|="true"] > button[disabled|="true"]:hover > span.nine-grid {
    --non-repeating-y-offset: 0px;
    --background-y: 8px;

    --vertical-x-offset: 0px;
    --horizontal-y-offset: 0px;
}
mc-button[disabled|="true"] > button[disabled|="true"]:active > span.nine-grid {
    --non-repeating-y-offset: 0px;
    --background-y: 8px;

    --vertical-x-offset: 0px;
    --horizontal-y-offset: 0px;
}

/* TODO: Fix this scheiße by tommorrow */
/* Don't look at it until then */
mc-button[tall|="true"] {
    height: calc(30px * var(--pixel-size));
}
mc-button[tall|="true"] > * {
    height: inherit;
}
mc-button[tall|="true"] > button > span.text {
    transform: translateY(calc(10px * var(--pixel-size)));
}
mc-button[tall|="true"] > button:active > span.text {
    transform: translateY(calc(12px * var(--pixel-size)));
}
mc-button[tall|="true"][disabled|="true"] > button:active[disabled|="true"] > span.text {
    transform: translateY(calc(10px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"] > button > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"] > button:active > span.text {
    transform: translateY(calc(8px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"][disabled|="true"] > button:active[disabled|="true"] > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}