mc-button {
    --asset-normal: url("../../../assets/button/bland.png");
    --asset-hover: url("../../../assets/button/bland_hover.png");
    --asset-active: url("../../../assets/button/bland_active.png");
    --asset-disabled: url("../../../assets/button/disabled.png");

    --background-normal: #d0d1d4;
    --background-hover: #b1b2b5;
    --background-active: #b1b2b5;
    --background-disabled: #d0d1d4;

    --width: 160px;

    display: block;
    user-select: none;
}

mc-button {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    border: none;
    padding: 0px;
}
mc-button > button {
    width: 100%;
    height: 100%;

    padding: 0px;
    
    display: flex;
    justify-content: center;

    border-width: calc(4px * var(--pixel-size));
    border-image: var(--asset-normal) 4;
    background-image: var(--background-normal);
}

mc-button > button > span.text {
    font-family: "mc-seven";
    transform: translateY(calc(3px * var(--pixel-size)));
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
mc-button > button:active > span.text {
    transform: translateY(calc(5px * var(--pixel-size)));
}
mc-button > button:active:disabled > span.text {
    transform: translateY(calc(3px * var(--pixel-size)));
}
mc-button[color|="green"] > button > span.text {
    font-size: calc(12px * var(--pixel-size));
    font-family: "mc-ten";
    transform: translateY(calc(3px * var(--pixel-size)));
    text-shadow: calc(1px * var(--pixel-size)) calc(1px * var(--pixel-size)) 0px #2A5D1B;
}
mc-button[color|="green"] > button:hover > span.text {
    text-shadow: calc(1px * var(--pixel-size)) calc(1px * var(--pixel-size)) 0px #1D4614;
}
mc-button[color|="green"] > button:active > span.text {
    font-size: calc(12px * var(--pixel-size));
    font-family: "mc-ten";
    transform: translateY(calc(5px * var(--pixel-size)));
    text-shadow: calc(1px * var(--pixel-size)) calc(1px * var(--pixel-size)) 0px #14360D;
}
mc-button[color|="green"] > button:active:disabled > span.text {
    transform: translateY(calc(3px * var(--pixel-size)));
}

mc-button[color|="green"] > button > span.text,
mc-button[color|="purple"] > button > span.text,
mc-button[color|="red"] > button > span.text,
mc-button[color|="dark"] > button > span.text {
    color: white;
}

mc-button > button:disabled > span.text {
    color: #48494A;
    text-shadow: none !important;
}

mc-button > button:hover {
    border-image: var(--asset-hover) 4;
    background-color: var(--background-hover);
}
mc-button > button:active {
    border-image: var(--asset-active) 4;
    background-color: var(--background-active);
}
mc-button > button:disabled {
    --asset-normal: var(--asset-disabled);
    --asset-hover: var(--asset-disabled);
    --asset-active: var(--asset-disabled);

    background-color: var(--background-disabled);
}

mc-button[tall|="true"] {
    height: calc(30px * var(--pixel-size));
}
mc-button[tall|="true"] > * {
    height: inherit;
}
mc-button[tall|="true"] > button > span.text {
    transform: translateY(calc(10px * var(--pixel-size)));
}
mc-button[tall|="true"] > button:active > span.text {
    transform: translateY(calc(12px * var(--pixel-size)));
}
mc-button[tall|="true"] > button:disabled:active > span.text {
    transform: translateY(calc(10px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"] > button > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"] > button:active > span.text {
    transform: translateY(calc(8px * var(--pixel-size)));
}
mc-button[tall|="true"][color|="green"] > button:disabled:active > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}