mc-checkbox {
    --normal: url("../../../assets/checkbox/normal.png");
    --disabled: url("../../../assets/checkbox/disabled.png");

    display: block;
    
    background-image: var(--normal);
    background-repeat: repeat-y;
}

mc-checkbox,
mc-checkbox > input {
    width: calc(12px * var(--pixel-size));
    max-width: calc(12px * var(--pixel-size));
    height: calc(12px * var(--pixel-size));
    max-height: calc(12px * var(--pixel-size));

    background-size: calc(24px * var(--pixel-size));

    border: none;
    padding: 0px;

    z-index: 1;
}
mc-checkbox > * {
    position: relative;
    display: block;
}
mc-checkbox > input {
    opacity: 0;
}

mc-checkbox:has(input:hover) {
    background-position-y: calc(-12px * var(--pixel-size));
}
mc-checkbox:has(input:active) {
    background-position-y: calc(-24px * var(--pixel-size));
}

mc-checkbox:has(:not(input:checked)) {
    background-position-x: calc(0px * var(--pixel-size));
}
mc-checkbox:has(input:checked) {
    background-position-x: calc(-12px * var(--pixel-size));
}

mc-checkbox:has(input:disabled) {
    --normal: var(--disabled);
}