mc-input {
    --asset-writable: url("../../../assets/input/writable.png");
    --asset-disabled: url("../../../assets/input/disabled.png");

    --width: 160px;

    display: block;
}

mc-input,
mc-input > * {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    --background-y: 8px;
}

mc-input > input {
    height: calc(100% - (8px * var(--pixel-size)));
    width: calc(100% - (16px * var(--pixel-size)));
    
    caret-color: #4F913C;
    font-family: "mc-seven";
    color: white;
    padding-left: calc(4px * var(--pixel-size));
    padding-right: calc(4px * var(--pixel-size));

    border-width: calc(4px * var(--pixel-size));
    border-image: var(--asset-writable) 4;

    border-radius: 0px !important;

    background-image: var(--asset-writable);
    background-position-x: calc((var(--width) * -1) * var(--pixel-size));
    background-position-y: calc((var(--width) * -1) * var(--pixel-size));
    background-size: calc((var(--width) * 3) * var(--pixel-size));
    background-repeat: repeat;
}
mc-input > input:disabled {
    border-image: var(--asset-disabled) 4;
    background-image: var(--asset-disabled);
}
mc-input > input::placeholder {
    color: #B1B2B5;
}
mc-input > input:disabled::selection {
    color: #48494A;
}
mc-input > input:disabled::placeholder {
    color: #48494A;
}