mc-input {
    --non-repeating: url("../../../assets/input/input.png");
    --vertically-repeating: url("../../../assets/input/input_vertical.png");
    --horizontally-repeating: url("../../../assets/input/input_horizontal.png");

    --width: 160px;

    display: block;
}

mc-input,
mc-input > * {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    border: none;
    padding: 0px;
    --background-y: 8px;
}
mc-input:has(input:disabled) > * {
    --non-repeating: url("../../../assets/input/disabled.png");
    --vertically-repeating: url("../../../assets/input/disabled_vertical.png");
    --horizontally-repeating: url("../../../assets/input/disabled_horizontal.png");
    
    --background-y: 8px;
}

mc-input > input {
    height: inherit;
    width: 100%;
    max-width: calc((var(--width) * var(--pixel-size)) - (16px * var(--pixel-size)));
    
    caret-color: #4F913C;
    font-family: "mc-seven";
    color: white;
    padding-left: calc(8px * var(--pixel-size));
    padding-right: calc(8px * var(--pixel-size));
    position: absolute;
}
mc-input > input::placeholder {
    color: #B1B2B5;
}
mc-input > input:disabled::selection {
    color: #48494A;
}
mc-input > input:disabled::placeholder {
    color: #48494A;
}