mc-select {
    --normal: url("../../../assets/select/normal.png");
    --normal-hover: url("../../../assets/select/normal_hover.png");
    --normal-active: url("../../../assets/select/normal_active.png");
    --normal-selected: url("../../../assets/select/normal_selected.png");

    --dark: url("../../../assets/select/disabled.png");
    --dark-hover: url("../../../assets/select/normal_active.png");
    --dark-active: url("../../../assets/select/disabled.png");
    --dark-selected: url("../../../assets/select/normal_active.png");

    --disabled: url("../../../assets/select/disabled.png");
    --disabled-hover: url("../../../assets/select/normal_active.png");
    --disabled-active: url("../../../assets/select/disabled.png");
    --disabled-selected: url("../../../assets/select/normal_active.png");

    --width: 320px;

    display: block;
    user-select: none;
}

mc-select {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    border: none;
    padding: 0px;

    display: flex;
}
mc-select > mc-button {
    --width: 160px;
    height: 100%;
}
mc-select > mc-button > button {
    border-image: var(--normal) 4;
    background-image: var(--normal);
}
mc-select > mc-button > button:hover {
    border-image: var(--normal-hover) 4;
    background-image: var(--normal-hover);
}
mc-select > mc-button > button:active {
    border-image: var(--normal-active) 4;
    background-image: var(--normal);
}
mc-select > mc-button > button#selected {
    border-image: var(--normal-selected) 4;
    background-image: var(--normal-selected);
}
mc-select > mc-button > button#selected > span.text {
    color: white;
    transform: translateY(calc(5px * var(--pixel-size)));
}

mc-select[tall|="true"] {
    height: calc(30px * var(--pixel-size));
}