mc-select {
    --normal: url("../../../assets/select/normal.png");
    --normal-hover: url("../../../assets/select/normal_hover.png");
    --normal-active: url("../../../assets/select/normal_active.png");
    --normal-selected: url("../../../assets/select/normal_selected.png");

    --dark: url("../../../assets/select/dark.png");
    --dark-hover: url("../../../assets/select/dark_hover.png");
    --dark-active: url("../../../assets/select/dark_active.png");
    --dark-selected: url("../../../assets/select/dark_selected.png");

    --disabled: url("../../../assets/select/disabled.png");
    --disabled-hover: url("../../../assets/select/disabled.png");
    --disabled-active: url("../../../assets/select/disabled.png");
    --disabled-selected: url("../../../assets/select/disabled_selected.png");

    --width: 320px;

    display: block;
    user-select: none;
}

mc-select {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    border: none;
    padding: 0px;

    display: flex;
}
mc-select > mc-button {
    --width: 80px;
    height: 100%;
}
mc-select > mc-button > button {
    border-image: var(--normal) 4;
    background-image: var(--normal);
}
mc-select > mc-button > button:hover {
    border-image: var(--normal-hover) 4;
    background-image: var(--normal-hover);
}
mc-select > mc-button > button:active {
    border-image: var(--normal-active) 4;
    background-image: var(--normal-active);
}
mc-select > mc-button > button#selected {
    border-image: var(--normal-selected) 4;
    background-image: var(--normal-selected);
}
mc-select > mc-button > button#selected > span.text {
    color: white;
    transform: translateY(calc(5px * var(--pixel-size)));
}

mc-select > mc-button > button > span.line {
    position: absolute;
    display: none;

    background-color: white;

    width: calc(12px * var(--pixel-size));
    height: calc(1px * var(--pixel-size));

    transform: translateY(calc(18px * var(--pixel-size)));
}
mc-select > mc-button > button#selected > span.line {
    display: block;
}

mc-select[color|="dark"] > mc-button > button {
    --normal: var(--dark);
    --normal-hover: var(--dark-hover);
    --normal-active: var(--dark-active);
    --normal-selected: var(--dark-selected);
}
mc-select[color|="dark"] > mc-button > button > span.text {
    color: white;
}
mc-select > mc-button > button:disabled {
    --normal: var(--disabled);
    --normal-hover: var(--disabled-hover);
    --normal-active: var(--disabled-active);
    --normal-selected: var(--disabled-selected);
}

mc-select[tall|="true"] {
    height: calc(30px * var(--pixel-size));
}
mc-select[tall|="true"] > * {
    height: inherit;
}
mc-select[tall|="true"] > mc-button > button > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}
mc-select[tall|="true"] > mc-button > button:active > span.text {
    transform: translateY(calc(8px * var(--pixel-size)));
}
mc-select[tall|="true"] > mc-button > button:disabled:active > span.text {
    transform: translateY(calc(6px * var(--pixel-size)));
}
mc-select[tall|="true"] > mc-button > button#selected > span.text {
    transform: translateY(calc(8px * var(--pixel-size)));
}
mc-select[tall="true"] > mc-button > button > span.line {
    transform: translateY(calc(24px * var(--pixel-size)));
}