mc-slider {
    --slider: url("../../../assets/slider/slider.png");
    --slider-disabled: url("../../../assets/slider/slider_disabled.png");

    --slider-vertical: url("../../../assets/slider/slider_vertical.png");
    --slider-disabled-vertical: url("../../../assets/slider/slider_disabled_vertical.png");

    --knob: url("../../../assets/slider/knob.png");
    --knob-disabled: url("../../../assets/slider/knob_disabled.png");

    display: block;

    --width: 320px
}

mc-slider {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    background-size: calc(32px * var(--pixel-size));

    border: none;
    padding: 0px;

    z-index: 2;
}
mc-slider > * {
    position: absolute;
    display: block;
}

mc-slider > span.knob {
    width: calc(16px * var(--pixel-size));
    max-width: calc(16px * var(--pixel-size));
    height: calc(16px * var(--pixel-size));
    max-height: calc(16px * var(--pixel-size));
    background-size: calc(32px * var(--pixel-size));

    background-image: var(--knob); 
    z-index: 2;
    /* transform is changed by the code!! look at slider.js */
}
mc-slider:hover > span.knob {
    background-position-x: calc(-16px * var(--pixel-size));
}

mc-slider > span.slider > * {
    display: block;
    position: absolute;
}

mc-slider > span.start {
    background-image: var(--slider);
    width: calc(8px * var(--pixel-size));
    height: calc(6px * var(--pixel-size));
    background-size: calc(8px * var(--pixel-size));
    transform: translateY(calc(9px * var(--pixel-size)));
    z-index: 1;
}
mc-slider > span.background {
    background-image: var(--slider-vertical);
    width: calc(var(--width) * var(--pixel-size));
    background-repeat: repeat-x;
    height: calc(6px * var(--pixel-size));
    background-size: calc(8px * var(--pixel-size));
    z-index: 0;
    margin-top: calc(6px * var(--pixel-size));
    margin-bottom: calc(6px * var(--pixel-size));
    transform: translateY(calc(3px * var(--pixel-size)));
}
mc-slider > span.range {
    background-image: var(--slider-vertical);
    background-repeat: repeat-x;
    height: calc(6px * var(--pixel-size));
    background-size: calc(8px * var(--pixel-size));
    z-index: 0;
    transform: translateY(calc(9px * var(--pixel-size)));
    background-position-y: calc(-6px * var(--pixel-size));
    /* width is changed by the code!! look at slider.js */
}
mc-slider > span.end {
    background-image: var(--slider);
    width: calc(8px * var(--pixel-size));
    height: calc(6px * var(--pixel-size));
    background-size: calc(8px * var(--pixel-size));
    z-index: 1;
    background-position-y: calc(-6px * var(--pixel-size));
    transform: translateY(calc(9px * var(--pixel-size))) translateX(calc((var(--width) - 8px) * var(--pixel-size)));
}

mc-slider:has(input:disabled) > span.slider > span.start {
    background-image: var(--slider-disabled);
}
mc-slider:has(input:disabled) > span.slider > span.background {
    background-image: var(--slider-disabled-vertical);
}
mc-slider:has(input:disabled) > span.slider > span.end {
    background-image: var(--slider-disabled);
}

mc-slider:has(input:disabled) > span.knob {
    background-image: var(--knob-disabled);
}

mc-slider > span.lines {
    width: calc(var(--width) * var(--pixel-size));
    background-repeat: repeat-x;
    height: calc(6px * var(--pixel-size));
    z-index: 1;
    transform: translateY(calc(9px * var(--pixel-size)));
}

mc-slider > span.lines > span {
    width: calc(1px * var(--pixel-size));
    background-repeat: repeat-x;
    height: calc(6px * var(--pixel-size));
    background-image: var(--slider);
    background-position-y: calc(-12px * var(--pixel-size));
    background-size: calc(8px * var(--pixel-size));
    position: absolute;
    /* transform is changed by the code!! look at slider.js */
}

mc-slider[disabled|="true"] {
    --slider: var(--slider-disabled);
    --slider-vertical: var(--slider-disabled-vertical);
    --knob: var(--knob-disabled);
}