mc-slider {
    --knob: url("../../../assets/slider/knob.png");
    --knob-disabled: url("../../../assets/slider/knob_disabled.png");

    --background: url("../../../assets/slider/background.png");
    --background-disabled: url("../../../assets/slider/background_disabled.png");

    --range: url("../../../assets/slider/range.png");
    --range-disabled: url("../../../assets/slider/range_disabled.png");

    display: block;

    --width: 320px
}

mc-slider {
    width: calc(var(--width) * var(--pixel-size));
    max-width: calc(var(--width) * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    max-height: calc(var(--width) * var(--pixel-size));

    padding: 0px;

    z-index: 2;
}
mc-slider > * {
    position: absolute;
    display: block;
}

mc-slider > span.knob {
    width: calc(16px * var(--pixel-size));
    max-width: calc(16px * var(--pixel-size));
    height: calc(16px * var(--pixel-size));
    max-height: calc(16px * var(--pixel-size));
    background-size: calc(32px * var(--pixel-size));

    background-image: var(--knob); 
    z-index: 2;
    /* transform is changed by the code!! look at slider.js */
}
mc-slider:hover > span.knob {
    background-position-x: calc(-16px * var(--pixel-size));
}

mc-slider > span.background {
    width: calc((var(--width) * var(--pixel-size)) - (8px * var(--pixel-size)));
    height: 0px;
    z-index: 0;
    margin-top: calc(6px * var(--pixel-size));
    margin-bottom: calc(6px * var(--pixel-size));
    transform: translateY(calc(3px * var(--pixel-size)));
    border-width: calc(3px * var(--pixel-size));
    border-image: var(--background) 3;
}
mc-slider > span.range {
    height: 0px;
    background-size: calc(8px * var(--pixel-size));
    z-index: 0;
    transform: translateY(calc(9px * var(--pixel-size)));
    background-position-y: calc(-6px * var(--pixel-size));
    border-width: calc(3px * var(--pixel-size));
    border-image: var(--range) 3;
    /* width is changed by the code!! look at slider.js */
}

mc-slider:has(input:disabled) > span.slider > span.start {
    background-image: var(--slider-disabled);
}
mc-slider:has(input:disabled) > span.slider > span.background {
    background-image: var(--slider-disabled-vertical);
}
mc-slider:has(input:disabled) > span.slider > span.end {
    background-image: var(--slider-disabled);
}

mc-slider:has(input:disabled) > span.knob {
    background-image: var(--knob-disabled);
}

mc-slider > span.lines {
    width: calc(var(--width) * var(--pixel-size));
    background-repeat: repeat-x;
    height: calc(6px * var(--pixel-size));
    z-index: 1;
    transform: translateY(calc(9px * var(--pixel-size)));
}

mc-slider > span.lines > span {
    width: calc(1px * var(--pixel-size));
    height: calc(6px * var(--pixel-size));
    background-color: #1e1e1f;
    position: absolute;
    /* transform is changed by the code!! look at slider.js */
}

mc-slider[disabled|="true"] {
    --background: var(--background-disabled);
    --range: var(--range-disabled);
    --knob: var(--knob-disabled);
}
mc-slider[disabled|="true"] > span.lines > span {
    background-color: #8c8d90;
}