mc-border {
    display: inline-block;
    width: 320px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
}
mc-border::before {
    content: "";
    height: 4px;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 2px;
    background-size: 8px;
    background-image: url("../../../assets/textures/border/debug_corners.png");
    image-rendering: pixelated;
}
mc-border::after {
    content: "";
    height: 4px;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 2px;
    background-size: 8px;
    background-image: url("../../../assets/textures/border/debug_corners.png");
    background-position-x: -4px;
    image-rendering: pixelated;
}
mc-border > div {
    padding: 16px;
    position: relative;
    width: calc(100% - 48px);
    left: 8px;
}
mc-border > div > .title {
    width: fit-content;
    position: absolute;
    margin-top: -28px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 8px;
    padding-right: 8px;
}
mc-border > div > content {
    width: 100%;
}
mc-border > div > .bottom::before {
    content: "";
    height: 4px;
    width: 4px;
    display: inline-block;
    position: absolute;
    left: -4px;
    background-size: 8px;
    background-image: url("../../../assets/textures/border/debug_corners.png");
    background-position-y: -4px;
    image-rendering: pixelated;
}
mc-border > div > .bottom::after {
    content: "";
    height: 4px;
    width: 4px;
    display: inline-block;
    position: absolute;
    right: -4px;
    background-size: 8px;
    background-image: url("../../../assets/textures/border/debug_corners.png");
    background-position-x: -4px;
    background-position-y: -4px;
    image-rendering: pixelated;
}
mc-border > div > .bottom {
    width: calc(100% + 4px);
    height: 4px;
    display: block;
    position: absolute;
    background-size: 32px;
    background-image: url("../../../assets/textures/border/debug_horizontal.png");
    image-rendering: pixelated;
    bottom: -6px;
    left: -2px;
    background-position-y: -4px;
}
mc-border > div::before {
    height: calc(100% + 4px);
    width: 4px;
    content: "";
    background-image: url("../../../assets/textures/border/debug_vertical.png");
    background-size: 8px;
    image-rendering: pixelated;
    display: block;
    position: absolute;
    top: -2px;
    left: -6px;
}
mc-border > div::after {
    height: calc(100% + 4px);
    width: 4px;
    content: "";
    background-image: url("../../../assets/textures/border/debug_vertical.png");
    background-size: 8px;
    image-rendering: pixelated;
    display: block;
    position: absolute;
    top: -2px;
    right: -6px;
    background-position-x: -4px;
}
mc-border > div > .title::before {
    content: "";
    display: inline-block;
    height: 4px;
    background-color: red;
    position: absolute;
    width: 100%;
    top: 6px;
    right: 100%;
}
mc-border > div > .title::after {
    content: "";
    display: inline-block;
    height: 4px;
    background-color: red;
    position: absolute;
    width: 100%;
    top: 6px;
    left: 100%;
}