mc-button {
    height: 48px;
    width: 320px;
    display: inline-block;
    image-rendering: pixelated;
    background-size: 8px;
    color: #1E1E1F;
    text-align: center;
    font-size: 24px;
    margin-bottom: 4px;
    background-image: url("../../../assets/textures/button_default.png");
    overflow: hidden;
    text-overflow: ellipsis;
}
mc-button::before {
    height: 48px;
    width: 4px;
    image-rendering: pixelated;
    background-size: 8px;
    content: "";
    display: inline-block;
    background-position-y: -48px;
    background-image: url("../../../assets/textures/button_default.png");
}
mc-button::after {
    height: 48px;
    width: 4px;
    image-rendering: pixelated;
    background-size: 8px;
    content: "";
    display: inline-block;
    background-position-y: -48px;
    background-position-x: -4px;
    background-image: url("../../../assets/textures/button_default.png");
}
mc-button[type|="green"] {
    background-image: url("../../../assets/textures/button_green.png");
    color: white;
}
mc-button[type|="green"]::before {
    background-image: url("../../../assets/textures/button_green.png");
}
mc-button[type|="green"]::after {
    background-image: url("../../../assets/textures/button_green.png");
}
mc-button[type|="purple"] {
    background-image: url("../../../assets/textures/button_purple.png");
    color: white;
}
mc-button[type|="purple"]::before {
    background-image: url("../../../assets/textures/button_purple.png");
}
mc-button[type|="purple"]::after {
    background-image: url("../../../assets/textures/button_purple.png");
}
mc-button[type|="red"] {
    background-image: url("../../../assets/textures/button_red.png");
    color: white;
}
mc-button[type|="red"]::before {
    background-image: url("../../../assets/textures/button_red.png");
}
mc-button[type|="red"]::after {
    background-image: url("../../../assets/textures/button_red.png");
}
mc-button[type|="dark"] {
    background-image: url("../../../assets/textures/button_dark.png");
    color: white;
}
mc-button[type|="dark"]::before {
    background-image: url("../../../assets/textures/button_dark.png");
}
mc-button[type|="dark"]::after {
    background-image: url("../../../assets/textures/button_dark.png");
}
mc-button > div {
    display: inline-block;
    width: calc(100% - 24px);
    position: relative;
    top: -2px;
    height: 32px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
}
mc-button[type|="green"] > div {
    text-shadow: 2px 2px 0px #2A5D1B;
    font-family: "title", sans-serif;
    font-size: 16px;
    letter-spacing: 0.7px;
    top: -2px;
}
mc-button[type|="green"]:hover > div {
    text-shadow: 2px 2px 0px #3A7425;
}
mc-button[type|="green"]:active > div {
    text-shadow: none !important;
    top: 2px;
}
mc-button:active > div {
    top: 2px;
}
mc-button:hover {
    background-position-y: -96px;
}
mc-button:hover::before {
    background-position-y: -144px;
}
mc-button:hover::after {
    background-position-y: -144px;
}
mc-button:active {
    background-position-y: -192px;
}
mc-button:active::before {
    background-position-y: -240px;
}
mc-button:active::after {
    background-position-y: -240px;
}
mc-button[disabled|="true"] {
    background-image: url("../../../assets/textures/button_disabled.png");
    color: #48494A;
}
mc-button[disabled|="true"] > * {
    top: -2px !important;
}
mc-button[disabled|="true"][type|="green"] > * {
    top: -2px !important;
    text-shadow: none !important;
}
mc-button[disabled|="true"]::before {
    background-image: url("../../../assets/textures/button_disabled.png");
}
mc-button[disabled|="true"]::after {
    background-image: url("../../../assets/textures/button_disabled.png");
}
mc-button[disabled|="true"]:hover {
    background-position-y: 0px;
}
mc-button[disabled|="true"]:hover::before {
    background-position-y: -48px;
}
mc-button[disabled|="true"]:hover::after {
    background-position-y: -48px;
}
mc-button[disabled|="true"]:active {
    background-position-y: 0px;
}
mc-button[disabled|="true"]:active::before {
    background-position-y: -48px;
}
mc-button[disabled|="true"]:active::after {
    background-position-y: -48px;
}