mc-button[tall|="true"] {
    height: 60px;
    background-image: url("../../../assets/textures/button_default_tall.png");
}
mc-button[tall|="true"]::before {
    height: 60px;
    background-position-y: -60px;
    background-image: url("../../../assets/textures/button_default_tall.png");
}
mc-button[tall|="true"]::after {
    height: 60px;
    background-position-y: -60px;
    background-image: url("../../../assets/textures/button_default_tall.png");
}
mc-button[tall|="true"][type|="green"] {
    background-image: url("../../../assets/textures/button_green_tall.png");
}
mc-button[tall|="true"][type|="green"]::before {
    background-image: url("../../../assets/textures/button_green_tall.png");
}
mc-button[tall|="true"][type|="green"]::after {
    background-image: url("../../../assets/textures/button_green_tall.png");
}
mc-button[tall|="true"][type|="purple"] {
    background-image: url("../../../assets/textures/button_purple_tall.png");
}
mc-button[tall|="true"][type|="purple"]::before {
    background-image: url("../../../assets/textures/button_purple_tall.png");
}
mc-button[tall|="true"][type|="purple"]::after {
    background-image: url("../../../assets/textures/button_purple_tall.png");
}
mc-button[tall|="true"][type|="red"] {
    background-image: url("../../../assets/textures/button_red_tall.png");
}
mc-button[tall|="true"][type|="red"]::before {
    background-image: url("../../../assets/textures/button_red_tall.png");
}
mc-button[tall|="true"][type|="red"]::after {
    background-image: url("../../../assets/textures/button_red_tall.png");
}
mc-button[tall|="true"][type|="dark"] {
    background-image: url("../../../assets/textures/button_dark_tall.png");
}
mc-button[tall|="true"][type|="dark"]::before {
    background-image: url("../../../assets/textures/button_dark_tall.png");
}
mc-button[tall|="true"][type|="dark"]::after {
    background-image: url("../../../assets/textures/button_dark_tall.png");
}
mc-button[tall|="true"] > div {
    top: 20px;
    height: 60px;
}
mc-button[tall|="true"][type|="green"] > div {
    top: 20px;
}
mc-button[tall|="true"][type|="green"]:active > div {
    top: 24px;
}
mc-button[tall|="true"]:active > div {
    top: 24px;
}
mc-button[tall|="true"]:hover {
    background-position-y: -120px;
}
mc-button[tall|="true"]:hover::before {
    background-position-y: -180px;
}
mc-button[tall|="true"]:hover::after {
    background-position-y: -180px;
}
mc-button[tall|="true"]:active {
    background-position-y: -240px;
}
mc-button[tall|="true"]:active::before {
    background-position-y: -300px;
}
mc-button[tall|="true"]:active::after {
    background-position-y: -300px;
}
mc-button[tall|="true"][disabled|="true"] {
    background-image: url("../../../assets/textures/button_disabled_tall.png");
}
mc-button[tall|="true"][disabled|="true"] > * {
    top: 20px !important;
}
mc-button[tall|="true"][disabled|="true"][type|="green"] > * {
    top: 20px !important;
}
mc-button[tall|="true"][disabled|="true"]::before {
    background-image: url("../../../assets/textures/button_disabled_tall.png");
}
mc-button[tall|="true"][disabled|="true"]::after {
    background-image: url("../../../assets/textures/button_disabled_tall.png");
}
mc-button[tall|="true"][disabled|="true"]:hover {
    background-position-y: 0px;
}
mc-button[tall|="true"][disabled|="true"]:hover::before {
    background-position-y: -60px;
}
mc-button[tall|="true"][disabled|="true"]:hover::after {
    background-position-y: -60px;
}
mc-button[tall|="true"][disabled|="true"]:active {
    background-position-y: 0px;
}
mc-button[tall|="true"][disabled|="true"]:active::before {
    background-position-y: -60px;
}
mc-button[tall|="true"][disabled|="true"]:active::after {
    background-position-y: -60px;
}