.dialogWindow {
    background-color: transparent;
    border: none;
    position: fixed;
    color: white;
    position: fixed;
    background-size: 1904px;
    image-rendering: pixelated;
    background-image: url("../../../assets/textures/dialog.png");
    background-position-x: -476px;
    padding: 0px;
    font-size: 0px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.dialogWindow > .windowBar {
    width: 476px;
    height: 16px;
    text-align: center;
    user-select: none;
    padding-top: 17px;
    padding-bottom: 17px;
    background-size: 1904px;
    image-rendering: pixelated;
    background-image: url("../../../assets/textures/dialog.png");
}
.dialogWindow > .windowBar > .windowTitle {
    width: calc(100% - 92px);
    display: inline-block;
}
.dialogWindow > .windowBar > .closeWindow {
    height: 40px;
    width: 40px;
    background-image: url("../../../assets/textures/dialog_close.png");
    display: inline-block;
    background-size: 40px;
    image-rendering: pixelated;
    position: absolute;
    top: 6px;
}
.dialogWindow > .windowBar > div:hover {
    background-position-y: -40px;
}
.dialogWindow > .windowBar > div:active {
    background-position-y: -80px;
}
.dialogWindow > .windowPage {
    width: 440px;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    user-select: none;
}
.dialogWindow > .windowButtons > * {
    width: 440px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.dialogWindow > .windowButtons {
    width: 476px;
    text-align: center;
    background-size: 1904px;
    image-rendering: pixelated;
    background-image: url("../../../assets/textures/dialog.png");
    background-position-x: -1428px;
    font-size: 0px;
    padding-top: 14px;
    padding-bottom: 16px;
}
.dialogWindow > .windowButtons::before {
    width: 476px;
    height: 8px;
    content: "";
    background-size: 1904px;
    image-rendering: pixelated;
    background-image: url("../../../assets/textures/dialog.png");
    background-position-x: -952px;
    display: block;
    position: absolute;
    margin-top: -14px;
}
.dialogWindow > .windowButtons::after {
    width: 476px;
    height: 8px;
    content: "";
    background-size: 1904px;
    image-rendering: pixelated;
    background-image: url("../../../assets/textures/dialog.png");
    background-position-x: -952px;
    background-position-y: -42px;
    display: block;
    position: absolute;
    margin-top: 8px;
}