mc-input {
    height: 48px;
    width: 320px;
    display: inline-block;
    image-rendering: pixelated;
    background-size: 8px;
    color: #B1B2B5;
    text-align: center;
    font-size: 24px;
    margin-bottom: 4px;
    background-image: url("../../../assets/textures/input.png");
}
mc-input::before {
    height: 48px;
    width: 4px;
    image-rendering: pixelated;
    background-size: 8px;
    content: "";
    display: inline-block;
    background-position-y: -48px;
    background-image: url("../../../assets/textures/input.png");
}
mc-input::after {
    height: 48px;
    width: 4px;
    image-rendering: pixelated;
    background-size: 8px;
    content: "";
    display: inline-block;
    background-position-y: -48px;
    background-position-x: -4px;
    background-image: url("../../../assets/textures/input.png");
}
mc-input > input {
    display: inline-block;
    width: calc(100% - 12px);
    position: relative;
    bottom: 16px;
    height: 32px;
    text-align: left;
    border: none !important;
    background-color: transparent;
    color: white;
}
mc-input[disabled|=true], mc-input[disabled|="true"] {
    color: #48494A;
    background-image: url("../../../assets/textures/input_disabled.png");
}
mc-input[disabled|=true]::before, mc-input[disabled|="true"]::before {
    background-image: url("../../../assets/textures/input_disabled.png");
}
mc-input[disabled|=true]::after, mc-input[disabled|="true"]::after {
    background-image: url("../../../assets/textures/input_disabled.png");
}