@font-face {
    font-family: "normal";
    src: url("../../../assets/fonts/normal.otf") format("opentype");
}
@font-face {
    font-family: "title";
    src: url("../../../assets/fonts/title.ttf") format("truetype");
}
body {
    background-color: darkgray;
}
* {
    font-family: "normal", sans-serif;
    font-size: 16px;
    letter-spacing: -0.7px;
}