* {
    image-rendering: pixelated;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}
body {
    display: flex;
    gap: 8px;
    margin: 8px;
    flex-wrap: wrap;
}
desktop {
    display: none;
}

@font-face {
    font-family: "mc-five";
    src: url("fonts/five.otf") format("opentype");
}
@font-face {
    font-family: "mc-five-bold";
    src: url("fonts/five_bold.otf") format("opentype");
}
@font-face {
    font-family: "mc-seven";
    src: url("fonts/seven.otf") format("opentype");
}
@font-face {
    font-family: "mc-ten";
    src: url("fonts/ten.otf") format("opentype");
}