* {
    image-rendering: pixelated;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    font-size: calc(8px * var(--pixel-size));
    font-family: "mc-seven";
}
body {
    display: flex;
    gap: calc(8px * var(--pixel-size));
    margin: calc(8px * var(--pixel-size));
    flex-wrap: wrap;
}
desktop {
    display: none;
}

@font-face {
    font-family: "mc-five";
    src: url("fonts/five.otf") format("opentype");
}
@font-face {
    font-family: "mc-five-bold";
    src: url("fonts/five_bold.otf") format("opentype");
}
@font-face {
    font-family: "mc-seven";
    src: url("fonts/seven.otf") format("opentype");
}
@font-face {
    font-family: "mc-ten";
    src: url("fonts/ten.otf") format("opentype");
}

input, button {
    border: none;
    outline: none;
}

h1 {
    font-size: calc(16px * var(--pixel-size));
    font-family: "mc-ten";
}
h2, h3 {
    font-size: calc(12px * var(--pixel-size));
    font-family: "mc-ten";
}
h4 {
    font-size: calc(8px * var(--pixel-size));
    font-family: "mc-seven";
}
h5 {
    font-size: calc(6px * var(--pixel-size));
    font-family: "mc-five-bold";
}
h6 {
    font-size: calc(6px * var(--pixel-size));
    font-family: "mc-five";
}

/* what */